<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
       async function signIn(){
        const username = document.getElementById("signinUsername").value; 
        const password = document.getElementById("signinPassword").value;
        const result = await axios.post('/user/signin',{username, password});
        if(result){                         
            tokenStr = result.data.token;
            const headers = {
                'token':tokenStr    
            }
            const result = await axios.get('/user/',{ headers:headers });
            if(result)
                console.log("Signed In", result)
            else
                console.log("Error while sign-in", result)
            // if(getTodos.data.length > 0){
            //     // for(i=0; i<getTodos.data.length; i++){
            //     //     list.push(getTodos.data[i].title)
            //     // }
            //     tasksList = getTodos.data;
            //     addList();
            // }
        }
    }
</script>
<body>
    <div class="d-flex align-items-center justify-content-center vh-100 bg-light text-dark">
        <form class="p-5 bg-white text-dark">
            <h1>Sign In</h1>
            <div class="mb-3">
              <label for="signinUsername" class="form-label">Username</label>
              <input type="text" class="form-control" id="signinUsername" aria-describedby="username">
            </div>
            <div class="mb-3">
              <label for="signinPassword" class="form-label">Password</label>
              <input type="password" class="form-control" id="signinPassword">
            </div>
            <button type="button" class="btn btn-primary" onclick="signIn()">Submit</button>
            <div>Don't have account? <a href="/user/signupPage">Create here!</a></div>
        </form>
    </div>
</body>
</html>